*.o
dmserver
delplay
zone_layout_validator
find_room_paths
lib/tinyworld.wld
lib/tinyworld.mob
lib/tinyworld.obj
lib/tinyworld.zon
lib/tinyworld.shp
lib/tinyworld.qst
lib/.worldfiles_built
.validate-commands-passed
integration_test_outputs/
integration_test_failures/
